bleak==2.1.1
click==8.3.1
iniconfig==2.3.0
niimprint @ git+https://github.com/AndBondStyle/niimprint@be39f68c16a5a7dc1b09bb173700d0ee1ec9cb66
packaging==26.0
pillow==10.4.0
pluggy==1.6.0
Pygments==2.19.2
pyobjc-core==12.1
pyobjc-framework-Cocoa==12.1
pyobjc-framework-CoreBluetooth==12.1
pyobjc-framework-libdispatch==12.1
pyserial==3.5
pytest==9.0.3
watchdog==6.0.0
